.hardware-node {
    background: white;
    border: 1px solid black;
    min-width: 180px;
    padding: 10px;
}

.hardware-node-header {
    font-size: 14px;
    margin-bottom: 8px;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 6px;
}

.hardware-node-settings {
    font-size: 11px;
    margin-top: 6px;
}

.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
}

.setting-key {
    margin-right: 8px;
}

.setting-input {
    width: 60px;
    padding: 2px 4px;
    border: 1px solid black;
    font-size: 11px;
}

/* w3 school instructions on how to hide spinner, might bring back? */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.setting-input[type="number"] {
    -moz-appearance: textfield;
}
