.App {
  width: 100%;
  height: 100vh;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  height: 40px;
  padding: 20px;
  background-color: grey;
  display: flex;
  align-items: center;
}

.menu-toggle {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
  color: white;
}

.Sidemenu {
  height: 100vh;
  position: absolute;
  width: 250px;
  background: grey;
  padding: 0 30px;
  transition: all 1s;
  z-index: 10;
}

.Sidemenu ul {
  display: flex;
  flex-direction: column;
}


.Sidemenu.closed {
  transform: translateX(-275px);
}

.react-flow_controls {
  z-index: 15;
}

.hardware-item {
  padding: 10px;
  color: white;
  background-color: grey;
  cursor: pointer;
}

.parts-menu-toggle {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #4d4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.parts-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 0;
  background-color: #474747;
  border-radius: 4px;
  padding: 10px;
}
